.home-menu {
    width: 7.5rem;
    font-size: 0.32rem;
    position: absolute;
    bottom: 1rem;
    top: 1rem;
}
.food-type {
    position: relative;
    width: 7.5rem;
    height: 2.4rem;
    background-color: #EAE5EC;
    border-bottom: 5px solid #B48939;

    
}
.food-type .type-lable {
    float: left;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin-left: 0.5rem;
    text-align: center;
    border-radius: 1.2rem;
    font-size: 0.32rem;
    background-color: rebeccapurple;
}
.foodCell {
    position: relative;
    width: 7.5rem;
    height: 5.3rem;
    overflow: scroll;
}
.foodCell::-webkit-scrollbar {
    display: none;
}
.food-list {
    width: 7.5rem;
    height: 1.8rem;
    border-bottom: 1px solid wheat;
}
.picImage {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    float: left;
    line-height: 1.8rem;
    
}
.rightDiv {
    float: left;
    width: 5.5rem;
    height: 1.8rem;
}
.picImage img {
    position: relative;
    vertical-align: middle;
    width:1.5rem;
    height: 1.5rem;
   
}
.food-list .rightDiv p {
    display: block;
}
.food-list .rightDiv span {
    font-size: 0.3rem;
    
}