.navbar {
    display: block;
    background-color: wheat;
    text-align: center;
    float: left;
    width: 100%;
    height: 44px;
    position: relative;

}
.nav_item {
    height: 44px;
    line-height: 44px;
    position: absolute;
    color: white;
}

.nav_back {
    left: 10px;  
}
.nav_title {
    width: 100px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}