<div class="tabbar">
    <a routerLink="/" routerLinkActive="active">
        <div>
            <img src="../assets/img/user.png" alt="">
            <span>首页</span>
        </div>
    </a>
    <a routerLink="/order" routerLinkActive="active">
        <div>
            <img src="../assets/img/user.png" alt="">
            <span>订单</span>
        </div>
    </a>
    <a routerLink="/mine" routerLinkActive="active">
        <div>
            <img src="../assets/img/user.png" alt="">
            <span>我的</span>
        </div>
    </a>
</div>