.tabbar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 7.5rem;
    height: 1rem;
   background-color: wheat;
   font-size: 0.16rem;
   
}
.tabbar a {
    text-decoration: none;
    padding-top: 5px;
    color: #AFA9A9;
}

.tabbar a img {
    width: 0.5rem;
    height: 0.5rem;
}
.tabbar a span {
    display: block;
}