<div class="order-cell">
    <div class="orderPic">
        <img src="https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=283357c971cb0a46912f836b0a0a9d41/810a19d8bc3eb135173a0288ac1ea8d3fd1f4407.jpg" alt="">
    </div>
    <div class="orderContent">
        <div class="title-state">
            <p>满汉全席</p>
            <p>已经消费</p>
        </div>
        <div class="time">7月30日</div>
       <div class="orderMessage">
           <span class="tab"> 价格：</span>
           <span class="price">¥125.00</span>
           <span class="orderAgain">再次预定</span>
       </div>
    </div>
</div>